<div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	   <h2 class="text-center">¿Olvidaste Tú Contraseña?</h2>
	  </div>
	  <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

	      <div class="form-group">
	        <%= f.label :email %><br />
	        <%= f.email_field :email, class:"form-control input-lg",autofocus: true %>
	      </div>

	      <div class="form-group">
	         <%= f.submit "Envíar Instrucciones", class:"btn btn-primary btn-block" %>
	      </div>
        <% end %>	
        <div class="modal-footer">
          <%= render "devise/shared/links" %>
        </div>
	   </div>
	</div>
</div>






