<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Blog-H@gm", posts_path, class:"navbar-brand" %>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to '<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir'.html_safe, destroy_user_session_path, method: :delete %>
          </li>

          <li>
            <a href="#"><span class="glyphicon glyphicon-plus"></span> Nuevo Post</a>
          </li>
        <% else %>
          <li>
            <%= link_to '<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrarse'.html_safe, new_user_registration_path %>  
          </li>
          
           <li>
             <%= link_to '<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Ingresar'.html_safe,new_user_session_path %>
           </li>
        <% end %>
        
       </ul>	
      </div>
    </div>
   </nav> 


   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
